 :root {
    --cor-primaria: #fff5f5;
    --cor-segundaria: #ffffff;
    --cor-fundo: #ffffff;
    --cor-texto: #333333; 
    --cor-contraste: #000000;
    --cor-botao: #ffffff;
    --cor-border: rgb(0, 225, 34);

    --fonte-texto: 'Segoe UI', sans-serif;
}
*{
    transition: background-color 0.3s ease;
}

.tema-escuro {
    --cor-primaria: #010102;
    --cor-segundaria: #010102;
    --cor-fundo: #000000;
    --cor-texto: #fdfdfd; 
    --cor-contraste: #ffffff;
    --cor-botao: #000000;
}

.tema-escuro a {
    color: var(--cor-segundaria);
}

.tema-escuro p {
    color: var(--cor-texto);
}

.tema-escuro header p {
    color: var(--cor-contraste);
}

body {
    width: 100%;
    font-family: var(--fonte-texto);
}

header {
    background-color: var(--cor-fundo);
    color: var(--cor-contraste);
    text-align: center;
    margin: 0 auto;
    padding: 16px;
    border: 5px solid #203888;
}

main {
    background-color: #112247;
    color: #4477ad;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
}

article {
    display: flex;
    border: 1px solid #73b7ff;
    margin: 16px;
    gap: 16px;
    padding: 16px;
    flex: 1 1 25%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

img {
    width: 80px;
    height: 80px;
}

.artigo-autor {
    font-weight: bold;
}

.btn-tema-escuro {
    position: fixed;
    bottom: 16px;
    right: 16px;  
    font-size: 32px;
    padding: 12px;   
    background-color: var(--cor-primaria); 
    border-radius: 50%; 
    border: none; 
    cursor: pointer;
}